{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "globals":{
    "window": true,
    "localStorage": true,
    "document": true,
    "jQuery": false,
    "$": true
  },
  "rules":{
    "camelcase": 1,
    "comma-dangle": 2,
    "quotes": 0
  }
}